@charset "UTF-8";

body{
background-color: #6b6bf1;
}

header {
    color: #fff;
}

img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
  }

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

footer {
    color: #fff;
    font-style: italic;
}