@charset "UTF-8";

h1 {
    text-align: center;
}

body {
    background-color: rgb(9, 119, 36);
}

div {
    background-color: #fff;
    width: 500px;
    min-height: 200px;
    border-radius: 10px;
    margin: auto;
}
p {
    text-align: center;
}
#n {
    padding-top: 50px;
}
#item {
    margin-top: 10px;
}